/*Colors*/
/* Sizes */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a:visited {
  color: rgba(98, 87, 133, 0.6);
}

html,
body {
  margin: 0;
  width: 100%;
  color: rgba(98, 87, 133, 0.6);
  background: rgb(0, 26, 6);
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3 {
  margin: 0;
  color: rgba(226, 232, 240, 0.8);
}

/* Font */
h1 {
  font-size: 6rem;
  font-weight: 900;
}

h2 {
  font-size: 3rem;
  font-weight: 900;
}

h3 {
  font-size: 2rem;
  font-weight: 800;
}

/* Paragraphs */
p {
  color: rgba(98, 87, 133, 0.6);
  margin: 0;
  font-size: 1rem;
}

/* Links */
a {
  color: rgba(98, 87, 133, 0.6);
  font-size: 1rem;
  text-decoration: none;
}

a:visited {
  color: rgba(98, 87, 133, 0.6);
}

ul {
  margin: 1em 0;
}

/* Flexbox */
.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexbox-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexbox-col {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/*main*/
#main {
  margin: 0 0 0 5em;
  min-height: 150vh;
}
#main h2 {
  width: 80%;
  max-width: 80%;
}
#main p {
  width: 80%;
  max-width: 80%;
}

.shadow {
  position: fixed;
  width: 1000px;
  height: 1000px;
  border: none;
  border-radius: 100%;
  pointer-events: none;
  background-color: rgba(255, 255, 0, 0.002);
  top: -500px;
  left: -500px;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.04) 0%, rgba(0, 49, 12, 0.001) 100%);
  z-index: 10;
}

.link-text {
  margin: 0;
  width: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all 0.35s cubic-bezier(0.175, 0.685, 0.32, 1);
  overflow: hidden;
  opacity: 0;
}

/* ========
    Navbar
   ======== */
#navbar {
  top: 0;
  padding: 0;
  width: 5em;
  height: 100vh;
  position: fixed;
  transition: width 0.35s cubic-bezier(0.175, 0.685, 0.32, 1);
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar:hover {
  width: 16em;
  background: red;
}

.navbar-items {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Navbar Logo */
.navbar-logo {
  margin: 0 0 2em 0;
  width: 100%;
  height: 5em;
}
.navbar-logo .navbar-item-inner {
  width: calc(5rem - 8px);
}

/* Navbar Items */
.navbar-item {
  padding: 0 0.5em;
  width: 100%;
  cursor: pointer;
}

.navbar-item-inner {
  padding: 1em 0;
  width: 100%;
  position: relative;
  border-radius: 0.25em;
  text-decoration: none;
  transition: all 0.2s cubic-bezier(0.175, 0.685, 0.32, 1);
}

.navbar-item-inner:hover {
  color: rgb(255, 115, 0);
  background: rgb(179, 179, 11);
  box-shadow: 0 17px 30px -10px black;
}

.navbar-item-inner-icon-wrapper {
  width: calc(5rem - 1em - 8px);
  position: relative;
}

.navbar-item-inner-icon-wrapper ion-icon {
  position: absolute;
  font-size: calc(var(--navbar-buttons) - 1rem);
}

.link-text {
  margin: 0;
  width: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all 0.35s cubic-bezier(0.175, 0.685, 0.32, 1);
  overflow: hidden;
  opacity: 0;
}

#navbar:hover .link-text {
  width: calc(100% - (5rem - 8px));
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
