<header>
  <div id="menu-cover">
    <nav id="navbar">
      <ul class="navbar-items flexbox-col">
        <li class="navbar-logo flexbox">
          <a class="navbar-item-inner flexbox">
            <img src="./assets/icons/logo.webp" class="img-thumbnail rounded-circle">
          </a>
        </li>
        <li class="navbar-item flexbox-left">
          <a href="index.html" class="navbar-item-inner flexbox-left">
            <div class="navbar-item-inner-icon-wrapper flexbox">
              <ion-icon name="home-outline"></ion-icon>
            </div>
            <span class="link-text underline-effect">Home</span>
          </a>
        </li>
        <li class="navbar-item flexbox-left">
          <a href="trainers.html" class="navbar-item-inner flexbox-left">
            <div class="navbar-item-inner-icon-wrapper flexbox">
              <ion-icon name="people-outline"></ion-icon>
            </div>
            <span class="link-text underline-effect">Trenerzy</span>
          </a>
        </li>
        <li class="navbar-item flexbox-left">
          <a class="navbar-item-inner flexbox-left" href="trainings.html">
            <div class="navbar-item-inner-icon-wrapper flexbox">
              <ion-icon name="calendar-outline"></ion-icon>
            </div>
            <span class="link-text underline-effect">Treningi</span>
          </a>
        </li>
        <li class="navbar-item flexbox-left">
          <a class="navbar-item-inner flexbox-left" href="contact.html">
            <div class="navbar-item-inner-icon-wrapper flexbox">
              <ion-icon name="chatbubbles-outline"></ion-icon>
            </div>
            <span class="link-text underline-effect">Kontakt</span>
          </a>
        </li>
        <li class="navbar-item flexbox-left">
          <a class="navbar-item-inner flexbox-left" href="magic.html">
            <div class="navbar-item-inner-icon-wrapper flexbox" href="settings.html">
              <ion-icon name="help-circle-outline"></ion-icon>
            </div>
            <span class="link-text underline-effect">Źródła</span>
          </a>
        </li>
      </ul>
    </nav>
    <div id="wrapper" class="wrapper-left">
      <button>
        <img src="./assets/icons/logo.webp">
      </button>
    </div>
  </div>
</header>