@import url('https://fonts.googleapis.com/css?family=Slabo+27px&display=swap');
@import "../../node_modules/bootstrap/scss/bootstrap";

*, *:after, *:before {
  box-sizing: border-box;
}

.custom-cursor{
  width: 32px;
  height: 32px;
  background: url('assets/icons/poop.png') no-repeat center;
  background-size: contain;
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none; /* Kursor nie przeszkadza w klikaniu */
  z-index: 100;
  transition: transform 0.05s linear;}

body {
  background: #000000;
  color: #fff;
  padding: 0;
  margin: 0;
  font-family: 'Slabo 27px', serif;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  cursor: none;
  
}

h1 {
  text-align: center;
}

.pacman-btn{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: space-around;
}

.pacman-btn button{
  background: #F2D648; 
  border-color: #F2D648; 
  border: 2px solid #F2D648; ;
  width: 150px;
  height: 50px;
  z-index: 20;
  border-radius: 10px;
}
.wave-container{
  display: flex;
  flex-direction: column;
}

.wave{
  width: 150px;
  min-height: 10px;
  margin-bottom: -20px;
  margin-top: -20px;
overflow: hidden;}

.circle-wave {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 150px;
  height: 50px; 
  overflow: hidden;
  box-sizing: border-box;
  margin-bottom: -30px;
  z-index: 10;
}
.circle-wave-reversed{
  display: flex;
  flex-direction: row;

  width: 150px;
  height: 50px;
  overflow: hidden;
  box-sizing: border-box;
  margin-top: -20px;
  z-index: 10;
  
}
.stick {
  width: 5px;
  height: 30px;
  background: #F2D648;
  transform-origin: bottom;
  z-index: 10;
}


.pacman {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: #F2D648;
  position: relative;
  margin-left: -25px;
  margin-top: -8px;
  z-index: 999;

  
  &__eye {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    top: 15px;
    right: 30px;
    background: #333333;
  }
  
  &__mouth {
    background: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
    animation-name: eat;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    z-index: 1;
  }

}
.pacman:hover {
  animation: pacman-rotate 1s forwards;
}

@keyframes pacman-rotate {
  0% {
      transform: rotate(0deg) scale(1);
  }
  25% {
      transform: rotate(var(--angle)) scale(1.2);
      background:red;
  }
  100% {
      transform: rotate(0deg) scale(1);
  }
}

@keyframes eat {
  0% {
    clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  }
  25% {
    clip-path: polygon(100% 60%, 44% 48%, 100% 40%);
  }}