body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, fr));
    gap: 20px;
    max-width: 800px;
    margin: auto;
}

.gallery-item {
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden; /* Zapobiega wychodzeniu obrazka poza obszar */
    position: relative; /* Dla prawidłowego działania efektów */
}

.gallery-item img {
    object-position:center 20%;
    width: 100%;
    border-radius: 8px;
    max-height: 300px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.caption {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.gallery-item:hover img {
    transform: scale(1.1);
}

.gallery-item:hover .caption {
    opacity: 0;
}